*{
    margin: 0;
    padding: 0;
}

.navbar-custom{
    background-color: rgb(77, 119, 156);

}
.body {
    background-color: seagreen;
}

.website-start {
    background-image: url(assets/images/background.jpg);
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
}


.website-start .quiz-about{
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-inline: 25%;
}
.quiz-about1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3%;
    align-items: center;
    font-size: 80px;
    text-align: center;
}
.quiz-about p{
    text-align: center;
    padding-bottom: 2%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}


